@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Serif 4, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2, h3, h5 { 
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.active {
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray;
}

/* logo image */

#logo-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

#logo-image {
    height: 350px;
    width: 100%;
    background: url('../images/logo-image.webp') no-repeat center center;
}

#logo-image h1 {
    color: white;
    position: relative;
    top: 65%;
    left: 40%;
}

#logo-image h5 {
    color: white;
    position: relative;
    top: 65%;
    left: 47%;
}

/* About Us */

#about-us {
    text-align: center;
    background-color: gray;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

#about-descp {
    padding-left: 50px;
    font-size: large;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

input[type=text] {
    height: 30px;
    width: 90%;
    padding-left: 10%;
    margin: 0 auto;
}

/* Location */

#map-det {
    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

.social-net {
    text-align: center;
}

.social-net > li {
    display: inline;
}

.social-net i {
    font-size: 150%;
    margin: 1%;
    padding: 3%;
    color: black
}