@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Serif 4, sans-serif;
    font-weight: 300;
    color: gray;
}

/* headings and logo */

h1, h2, h3, h5 { 
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.active {
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray;
}

/* logo image */

#logo-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

#logo-image {
    height: 350px;
    width: 100%;
    background: url('../images/logo-image.webp') no-repeat center center;
}

#logo-image h1 {
    color: white;
    position: relative;
    top: 65%;
    left: 40%;
}

#logo-image h5 {
    color: white;
    position: relative;
    top: 65%;
    left: 47%;
}

/* About Us */

#about-us {
    height: 600px;
}

#start-up {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
}

hr {
    border-bottom: 1px solid black;
    width: 100%;
    margin: 5px;
}

#about-description1 {
    padding-top: 30px;
    width: 40%;
    float: left;
}

.about-left {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#about-right {
    height: 400px;
    width: 150%;
    float: top;
    background: url('../images/about-image.jpg') no-repeat center center;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

/* Location */

#map-det {
    height: 250px;
    margin-bottom: 100px;
}

#map {
    height: 110%;
    width: 100%;
    border: none;
}

/* Social Networks */

.social-net {
    text-align: center;
    background-color: gray;
}

.social-net > li {
    display: inline;
}

.social-net i {
    font-size: 150%;
    margin: 1%;
    padding: 3%;
    color: black;
}

/* Sign-up form */

.signup-form {
    background-color: gray;
    color: black;
    height: 250px;
    text-align: center;
}

    .submit-button {
        margin-top: 20px;
        padding: 12px 24px 12px 24px;
        text-align: center;
        font-size: small;
        background-color: black;
        color: white;
    }

/* Contact */

.contact-box {
    text-align: center;
    background-color: white;
}

/* Media queries */

@media screen and (max-width: 900px) {
    #about {
        width: 60%;
        height: 900px;
        margin: 0 auto;
    }

    #start-up {
        padding: 20px 0;
        margin: 0;
    }

    #about-left, #about-right {
        width: 100%;
        float: left;
        padding: 0;
    }
}