@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@300&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Serif 4, sans-serif;
    font-weight: 300;
    color: gray;
}

hr {
    border-bottom: 1px solid black;
    width: 99%;
    margin: 5px;
}

#hello {
    text-align: center;
    margin: 20px 0;
    font-size: x-large;
    background-color: gray;
    color: white;
}

/* headings and logo */

h1, h2, h3, h5 { 
    font-family: Teko, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.active {
    border-top: 1px solid gray; 
    border-bottom: 1px solid gray;
}

/* logo image */

#logo-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
}

#logo-image {
    height: 350px;
    width: 100%;
    background: url('../images/logo-image.webp') no-repeat center center;
}

#logo-image h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 40%;
}

#logo-image h5 {
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
}

/* About Us */

#about {
    height: 700px;
}

#about-left {
    padding-top: 30px;
    width: 29%;
    float: left;
}

#about-right {
    padding-top: 30px;
    width: 38%;
    float: right;
}

.about-left-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.about-right-heading {
    width: 70%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    
}

.about-right-heading table {
    right: 100%;
}

#about-centre {
    width: 33%;
    margin: 0 auto;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}

#img-style {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    width: 67.5%; 
    height: 450px;
}


/* Trophees */

#trophees {
    height: 500px
}


/* Sign Up */

#sign-up {
    clear: left;
    background: url('../images/signup-background.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
}

.signup-form {
    margin: 100px 10% 0 0; 
    color: white;
    background-color: rgba(60, 60, 60, 0.5);
    max-width: 400px;
    position: absolute;
    left: 30%;
    top: 255%;
    padding: 100px;
}

.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 40%;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
}

.submit-button {
    margin-top: 0;
    position: absolute;
    top: 80%;
    left: 40%;
    border-radius: 5px;
    padding: 10px 22px 10px 22px;
    text-align: center;
    font-size: 100%;
    background-color: red;
    color: white;
    display: block;
}


/* Contact */

#contact {
    height: 600px;
}

.contact-box {
    text-align: center;
    background-color: white;
}

/* footer */

footer {
    height: 300px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 2%;
    padding: 6px;
    color: gray
}

/* Media queries */

@media screen and (max-width: 1200px) {

    #about {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    #sign-up {
        width: 100%;
        height: 1200px;
        margin: 0 auto;
    }

    #sign-up form {
        top: 370%;
    }

    #hello {
        padding: 30px 0;
        margin: 0;
    }

    #about-left, #about-right {
        width: 100%;
        float: left;
        padding: 0;
        text-align: center;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }
}   

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #logo-image h1, h5{
        left: 0;
    }

    #about {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .about-left-heading, .about-right-heading {
        width: inherit;
    }

    #sign-up form {
        float: left;
    }
}

